/** login-section **/
main{
  width: 75%; margin: 50px auto; 
  border:1px solid grey;
  display: grid; color: white;
  grid-template-rows: 60px 100px 200px 60px;
  grid-template-columns: repeat(3, 1fr) 150px;
  grid-gap: 20px;
  
 }


.login-section{
    position: relative;
    padding: 40px 0px;
  }
  
  .login-section .inner-container{
    position: relative;
    max-width: 85%;
    width: 100%;
    margin: 0 auto;
  }
  
  .login-section .inner-container .inner-box{
    position: relative;
    display: block;
    background: #ffffff;
    padding: 33px 40px 35px 40px;
    box-shadow: 0px 20px 60px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
  }
  
  .login-section .inner-container .inner-box h2{
    display: block;
    text-align: center;
    font-size: 40px;
    line-height: 38px;
    font-weight: 800;
    margin-bottom: 24px;
  }
  .form{
    display: flex;
  }
  
  .login-section .inner-container .inner-box form .form-group{
    position: relative;
    margin-bottom: 14px;
  }
  
  .login-section .inner-container .inner-box form .form-group:last-child{
    margin-bottom: 0px;
  }
  
  .login-section .inner-container .inner-box form .form-group label{
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 26px;
    color: #808080;
    margin-left: 40px;
    margin-bottom: 7px;
  }
  
  .login-section .inner-container .inner-box form .form-group input[type='text'],
  .login-section .inner-container .inner-box form .form-group input[type='email'],
  .login-section .inner-container .inner-box form .form-group input[type='password'],
  .login-section .inner-container .inner-box form .form-group input[type='date'],
  .login-section .inner-container .inner-box form .form-group input[type='file'],
  .login-section .inner-container .inner-box form .form-group input[type='number']
  {
    position: relative;
    display: block;
    float: ;
    width: 350px;
    height: 50px;
    border: 1px solid #e6e8e8;
    border-radius: 30px;
    font-size: 15px;
    color: #808080;
    padding: 10px 30px;
    transition: all 500ms ease;
    margin-left: 40px;
  }

   .login-section .inner-container .inner-box form .form-group textarea
  {
    position: relative;
    display: block;
    float: ;
    width: 450px;
    height: 200px;
    border: 1px solid #e6e8e8;
    border-radius: 30px;
    font-size: 15px;
    color: #808080;
    padding: 10px 30px;
    transition: all 500ms ease;
    margin-left: 40px;
  }

  .postingsubmit{
    position: relative;
    width: 80%;
    height: 50px;
    border: 1px solid #e6e8e8;
    border-radius: 30px;
    color: #3854a5;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 30px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #3854a5;
  }
  .othre-text{
    padding: 10px 50px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .postingreset{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
    border: none;
    background-color: #DC143C;
    color: #ffffff;
    font-weight: bold;
    border: none;

  }
  .postingreset:hover{
    background-color: #3854a5;

    .Category,.jobslevel
  {
    position: absolute;
    display: block;
    float: ;
    width: 350px;
    height: 50px;
    border: 1px solid #e6e8e8;
    border-radius: 30px;
    font-size: 15px;
    color: #808080;
    padding: 10px 30px;
    transition: all 500ms ease;
    margin-left: 40px;
  }
  .jobstypes{
    position: absolute;
    display: block;
    float: ;
    width: 350px;
    height: 50px;
    border: 1px solid #e6e8e8;
    border-radius: 30px;
    font-size: 15px;
    color: #808080;
    padding: 10px 30px;
    transition: all 500ms ease;
    margin-left: 40px;
  }
  }




  .login-section .inner-container .inner-box form .form-group .text{
    position: relative;
    text-align: right;
    padding-bottom: 9px;
    display: block;
  }
  
  .login-section .inner-container .inner-box form .form-group .text a{
    font-size: 15px;
    color: #808080;
  }
  
  .login-section .inner-container .inner-box form .form-group .text a:hover{
  
  }
  
  .login-section .inner-container .inner-box form .form-group input:focus{
  
  }
  
  .login-section .inner-container .inner-box form .form-group button{
    display: block;
    width: 100%;
  }
  
  .login-section .inner-container .inner-box .other-content .text{
    position: relative;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .login-section .inner-container .inner-box .other-content .text:before{
    position: absolute;
    content: '';
    background: #e5e7ec;
    width: 100%;
    height: 1px;
    left: 0px;
    top: 19px;
  }
  .login-section .inner-container .inner-box .other-content .text span{
    position: relative;
    display: inline-block;
    font-size: 22px;
    line-height: 32px;
    color: #8a8a8a;
    font-weight: 400;
    width: 65px;
    background: #fff;
    text-align: center;
  }
  
  .login-section .inner-container .inner-box .other-content .social-links li{
    position: relative;
    display: block;
    margin-bottom: 10px;
  }
  
  .login-section .inner-container .inner-box .other-content .social-links li:last-child{
    margin-bottom: 0px;
  }
  
  .login-section .inner-container .inner-box .other-content .social-links li a{
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 26px;
    color: #808288;
    font-weight: 500;
    text-align: center;
    padding: 11px 30px;
    border: 1px solid #e6e8e8;
    border-radius: 30px;
  }
  
  .login-section .inner-container .inner-box .other-content .social-links li a i{
    margin-right: 10px;
    transition: all 500ms ease;
  }
  
  .login-section .inner-container .inner-box .other-content .social-links li:first-child a i{
  
  }
  
  .login-section .inner-container .inner-box .other-content .social-links li:last-child a i{
  
  }
  
  .login-section .inner-container .inner-box .other-content .social-links li a:hover{
    color: #fff;
  }
  
  .login-section .inner-container .inner-box .other-content .social-links li a:hover i{
    color: #fff !important;
  }
  
  .login-section .inner-container .inner-box .other-content .social-links{
    position: relative;
    margin-bottom: 23px;
  }
  
  .login-section .inner-container .inner-box .othre-text p{
    font-weight: 500;
  }
  
  .login-section .inner-container .inner-box .othre-text p a{
  
  }
  
  .login-section .inner-container .inner-box .othre-text p a:hover{
    text-decoration: underline;
  }
  
  .signup-section .signup-form{
    margin-bottom: 24px;
  }
  
  .signup-section .inner-container .inner-box form .form-group.message-btn{
    padding-top: 6px;
  }
  