.vacancy-dashboard-frnt{
    margin-bottom: 60px;
}
.vacancy-intro-view{
    display: flex;
    justify-content: space-between;
}
.vacancy-view-text h2{
    font-weight: 600;
    font-size: 55px;
}
.vacancy-view-text{
    padding-top: 100px;
    width: 65%;
}
.vacancy-view-text p{
    color: #3854a5;
    font-size: 15px;
    font-weight: 600;
}
.vacancy-view-image{
    position: relative;
    
}
.image-layer {
    width: 490px;
    z-index: 1;
}
.category-block-one .inner-box {
position: relative; 
max-width: 210px;
width: 100%;
margin: 0 auto;
padding: 35px 15px;
border-radius: 10px;
overflow: hidden;
box-shadow: none;
transition: all 500ms ease;
}
.button-vacancy {
display: flex;
flex-direction: row;
align-items: center;
margin-top: 30px;
}
.button-explore, .button-explore a{
height: 47px;
background-color: #3854a5;
margin-left: 10px;
color: #ffffff;
font-weight: 600;
padding: 10px;
width: 12rem;
letter-spacing: .5px;
border-radius: 8px;
line-height: 17px;
font-size: 16px;
letter-spacing: .5px;

}
.button-vacancys{
height: 47px;
background-color: #ffffff;
margin-left: 40px;
color: #3854a5;
font-weight: 600;
padding: 10px;
width: 15rem;
border: 2px solid;
letter-spacing: .5px;
border-block-color: #3854a5;
border-radius: 8px;
line-height: 17px;
font-size: 18px;
}
.img-vacancy 
{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }
.featureimg{

margin-bottom: 30px;
max-width: 240px;
}
.featureimg img {
border-radius: 10px
}
.img-vacancy-tittle h3{
font-weight: 600;
font-size: 28px;
line-height: 140%;
color: #1c4980;
}
.img-vacancy-tittle p{
font-weight: 500;
font-size: 16px;
line-height: 140%;
color: #1c4980;
display: block;
margin-bottom: 15px;
}
.container-min{
max-width: 920px;
width: 100%;
margin: 0 auto;
position: relative;
padding: 0 0 60px;
}
.container-min{
max-width: 720px;
width: 100%;
margin: 0 auto;
position: relative;
padding: 0 0 60px;
margin-top: 20px;
}
.container-min-title{
margin-bottom: 10px;
}
.container-min-title h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #1c4980;
    }
    .container-min-title p{
    text-align: center;
    font-weight: 550;
    font-size: 14px;
    line-height: 140%;
    color: #171b20;
    display: block;
    margin-bottom: 15px;
    margin-top: 10px;
    }
    .container-min-wrap{
    display: flex;
    max-width: 825px;
    width: 100%;
    margin: 60px auto 0 auto;
    }
    .wear-icon{
    max-width: 33.33%;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    }
    .wear-icon img{
    max-width: 120px;
    width: 100%;
    height: 120px;
    }
    .wear-icon h3{
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1c4980;
    margin-top: 0;
    margin-bottom: 2px;
    text-transform: capitalize;
    }
    .wear-icon p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #000;
    margin: 0;
    }
    .left-img{
    position: absolute;
    top: -4%;
    bottom: 0;
    left: -38%;
    z-index: 1;
    max-width: 380px;
    width: 100%;
    } 
    .left-img img{
    height: 447px;
    width: auto;
    }
    .right-img{
    position: absolute;
    top: -4%;
    bottom: 0;
    left: 91%;
    z-index: 1;
    max-width: 380px;
    width: 100%;
    } 
    .right-img img{
    height: 447px;
    width: auto;
    }
    .featuredopporunity{
    background: linear-gradient(180deg,#F5FAFE 0%,#FFFFFF 100%);
    border: 1px solid #DDE5EA;
    border-radius: 30px;
    padding: 32px 25px;
    margin: 0 auto;
    margin-bottom: 40px;
    }
    .featureopporunity_tittle{
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    color: #1c4980;
    padding-left: 20px;
    }
    .featureopporunity_tittle span{
    font-weight: 450;
    font-size: 14px;
    line-height: 140%;
    display: block;
    margin-bottom: 15px;
    }
    .sec-title h2 {
    font-weight: 600;
    font-size: 23px;
    line-height: 140%;
    color: #1c4980;
    }
    .feature-block-one .inner-box .lower-content h3 a,
    .feature-block-one .inner-box .lower-content .author-box .inner h6{
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #1c4980;
    }
    .feature-block-one .inner-box .lower-content .lower-box h5 {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: #1c4980;
    }
    .vacancyes-imgs img{
    border-radius: 10px;
    width: 500px;
    height: auto;
    }
    .rows{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;

    }
    .vacancyes-imgs{
    margin-right: 30px;
    margin-bottom: 30px;
    }


    @media (max-width:1024px){
        .image-layer {
            width: 368px;
        }
        .vacancy-view-text {
            padding-top: 43px;
            width: 50%;
        }
        .vacancy-view-text h2 {
            font-weight: 600;
            font-size: 45px;
        }

    }
    @media (max-width:768px){
        .vacancy-view-text h2 {
            font-weight: 600;
            font-size: 35px;
        }
        .image-layer {
            width: 256px;
        }
        .button-explore, .button-explore a {
            background-color: #3854a5;
            height: 43px;
            margin-left: 10px;
            color: #ffffff;
            font-weight: 600;
            padding: 5px;
            width: 10rem;
            letter-spacing: .5px;
            border-radius: 8px;
            font-size: 12px;}
            .button-vacancys {
                padding: 6px;
                width: 14rem;
                height: 43px;
                background-color: #ffffff;
                margin-left: 40px;
                padding: 5px;
                width: 10rem;
                border: 2px solid;
                letter-spacing: .5px;
                border-radius: 8px;
                line-height: 17px;
                font-size: 12px;
            }
            .featureimg{
                max-width: 176px;
                }
                .left-img, .right-img{
                    display: none;
                }

    }
    @media (max-width:600px){
        .vacancy-view-image{
            display: none;
        }
        .vacancy-view-text {
            padding-top: 43px;
            width: 100%;
        }
        .featureimg{
            width: 100%;
            max-width: 310px;
            }
        .img-vacancy {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                flex-direction: row;
                align-items: center;
            }
    }